h1 {
	font-family:verdana;
	text-align:center;
}
#h02 {
	font-family:verdana; 
	text-align:center;
}
pre {
	font-family:Times New Roman, Times, serif;
	font-size: 15px;
	margin-top: 40px;
    margin-right: 35px;
    margin-left: 35px;	
}

header {
	
		background-color:  #b3d9ff;
	}

#h03 {
	font-size:250%;
	font-family:helvetica;
	margin-top: 40px;
    margin-right: 0px;
    margin-left: 0px;
	
}
#h04 {
	font-size:250%;
	font-family:helvetica;
	margin-top: 60px;
    margin-right: 0px;
    margin-left: 0px;
}

#p01 {
	font-size:200%;
	text-align:center;
}
#p02 {
	font-size:200%;
	text-align:center;
}
#p03 {
	font-size:200%;
	text-align:center;
}
#p04 {
	font-size:200%;
	text-align:center;
}
#p05 {
	font-size:200%;
	text-align:center;
}
#p06 {
	font-size:200%;
	text-align:center;
}
#h05 {
	font-size:250%;
	font-family:helvetica;
	margin-top: 60px;
    margin-right: 0px;
    margin-left: 0px;
	
}

ul {
	
	margin-right: 50px;
}
	

hr {
	margin-left: 20mm;
    margin-right: 20mm;
	border-width: 3px;
	color: black;
}
section {
	
	background-color:#bfbfbf
}
